body {
  font-family: Helvetica, Arial, Sans-Serif;
}

.history-button {
  width: 400px;
  height: 50px;
  font-size: 40px;
}

.operation-button {
  width: 100px;
  height: 24px;
  font-size: 14px;
}
